.td-actions .fa:before {
    color: #fff;
}
.margin-bottom {
    margin-bottom:10px !important; 
}
.invoice {
    position: relative;
    background: #fff;
    border: 1px solid #f4f4f4;
    padding: 20px;
    margin: 10px 25px;
}

#printBillModal .table>thead>tr>th, #printBillModal .table>tbody>tr>th, #printBillModal .table>tfoot>tr>th, #printBillModal .table>thead>tr>td, #printBillModal .table>tbody>tr>td, #myModal .table>tfoot>tr>td {
    padding: 4px;
}